/*-----Universal selector used below as different browsers have different default
margins resulting in sites looking different by marrgins. All paddings and margins set 
to zero so they look the same on all browsers (reword)---*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*-------Colours---*/



/*-----Special Paddings/Margins/Texts---*/


/*------Heading------*/
