/*-----Universal selector used below as different browsers have different default
margins resulting in sites looking different by marrgins. All paddings and margins set 
to zero so they look the same on all browsers (reword)---*/

@import url('https://fonts.googleapis.com/css?family=Orbitron:900|Play:700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Mukta', sans-serif;
    color: #000;
    margin: 0px;
}
/*--Container-Nav and Carousel--*/

.container-fluid {
padding-right: 0px;
padding-left: 0px;
}

/*------Navbar Decoration------*/
.transparent-nav {
 background: transparent !important;
 transition: 0.5s ease-in;
}

.transparent-nav.scroll {
    background: #000 !important;
    opacity: 1;
}

.navbar {
    font-size: large;
    font-weight: bold;
    z-index: 99;
}

.navbar-brand {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 30px;
}

.title {
font-family: 'Orbitron', sans-serif;
color: #00e366;
}

.navbar-nav {
   font-family: 'Play', sans-serif; 
   font-size: 22px;
   color: #fafafa;
}

.show .navbar-nav > li > a {
    color: #fafafa !important;
    background-color: #000 !important;
    opacity: 0.9;
}

.transparent-nav a {
    margin-right: 50px;
    border-bottom: 2px solid transparent;
    color: #fafafa !important;
}

.transparent-nav a:hover {
    border-bottom: 3px solid #00e366;
}

.active a {
    border-bottom: 2px solid #00e366;
}

/*---Language bar----*/
.dropdown-menu {
    background-color: transparent;
}

.languages a {
    background-color: transparent;
    color: #fff !important;
    box-shadow: 3px 3px 5px #777;
    text-align: center;
    font-weight: bold;
}


.dropdown-toggle:after {
    display: inline;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
}

.dropdown-item:hover {
    color: #000 !important;
    background-color: #00e366;
}



.dropdown-menu {
    width: 20px;
    background-color: #000;
    opacity: 0.9;
}

/*---Carousel---*/
.carousel {
    margin-top: -100px;
}

.carousel-caption {
    margin-bottom: 20%;
}

.carousel-caption h5 {
    font-size: 65px;
    text-transform: uppercase;
    font-family: 'Play', sans-serif; 
}
.carousel-caption p {
    font-size: 30px;
    font-family: 'Play', sans-serif; 
}

.overlay:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.4;
}
/*----Carousel arrows---*/
.carousel-control-prev {
    padding-top: 100px;
}

.carousel-control-next {
    padding-top: 100px;
}

/*---Media Queries---*/
@media only screen and (max-width: 1050px) {
    .carousel-caption {
    margin-bottom: 10%;
}
}

@media only screen and (max-width: 920px) {
    .carousel-caption h5 {
    font-size: 40px;
}
    .carousel-caption p {
    font-size: 20px;
}
}

@media only screen and (max-width: 700px) {
    .btn {
        display: none;
    }
    .carousel-caption h5 {
        font-size: 30px;
    }
    .carousel-caption p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 595px) {
    .carousel-caption {
    margin-bottom: 5%;
}
}



@media only screen and (max-width: 538px) {
    .carousel-caption h5 {
    font-size: 20px;
}
    .carousel-caption p {
    font-size: 10px;
}
}

@media only screen and (max-width: 460px) {
    .navbar-brand {
   padding-top: 0px;
  }
}

@media only screen and (max-width: 447px) {
    .carousel-caption {
    margin-bottom: 2%;
}
   .carousel-caption h5 {
    font-size: 10px;
}
    .carousel-caption p {
    font-size: 5px;
}
}

@media only screen and (max-width: 430px) {
    .carousel-control-next {
    padding-top: 130px;
}
    .carousel-control-prev {
    padding-top: 130px;
}
}

@media only screen and (max-width: 391px) {
    .carousel-caption {
    margin-bottom: 0%;
 }
}

@media only screen and (max-width: 370px) {
    .carousel-caption {
     display: none;
 }
 .navbar-brand {
    padding-left: 0px;
}
}
/*---Button on carousel---*/
.btn-outline-light {
    border-width: revert;
    font-family: 'Play', sans-serif; 
}
.btn {
    font-size: 20px;
}

.btn-primary {
    background-color: #000!important;
    border-color: #000 !important;
    font-family: 'Play', sans-serif; 
}
.btn-primary:hover {
    background-color: #fafafa;
    color: #00e366;
    border-color: #fafafa;
}

/*--Jumbotron--*/
.jumbotron {
    margin-bottom: 0rem;
    background-color: #000 !important;
}

.jumbotron div {
    background-color: #000;
}

.resorts-title {
    font-family: 'Play', sans-serif;
}

.jumbotron hr {
      border:none;
      height:3px;
      background-color:#00e366;
      width: 25%;
      margin-left: 37.5%;
      margin-bottom: 30px;
      margin-top: 30px;
}

.container {
    padding-top: 30px;
    padding-bottom: 30px;
}
/*----Six Resorts---*/
#resorts-header {
    color: #000;
    font-family: 'Play', sans-serif;
}

.resorts {
      border:none;
      height:3px;
      background-color:#000;
      width: 25%;
      margin-left: 37.5%;
      margin-bottom: 30px;
      margin-top: 30px;
}

.card-columns {
    padding-left: 30px;
    padding-right: 30px;
    column-gap: 10px;
}

.card-body {
   font-family: 'Play', sans-serif;  

}

.card-title {
    margin-bottom: auto;
    color: #00e366;
}

.card-columns .card {
    height: 350px;
}
/*----Resort 1----*/
.card-image1 {
    background-image: url("../images/pas-de-la-casaX.jpg");
    background-size: cover;
    background-position: center;
    border: 0px;
}


.card-image2 {
    background-image: url("../images/pas-de-la-casaX.jpg");
    background-size: cover;
    background-position: center;
    border: 0px;
}

.card-image3 {
    background-image: url("../images/pas-de-la-casaX.jpg");
    background-size: cover;
    background-position: center;
    border: 0px;
}

.card-image4 {
    background-image: url("../images/pas-de-la-casaX.jpg");
    background-size: cover;
    background-position: center;
    border: 0px;
}
.card-image5 {
    background-image: url("../images/pas-de-la-casaX.jpg");
    background-size: cover;
    background-position: center;
    border: 0px;
}
.card-image6 {
    background-image: url("../images/pas-de-la-casaX.jpg");
    background-size: cover;
    background-position: center;
    border: 0px;
}


.card-body1, .card-body2, .card-body3, .card-body4, .card-body5, .card-body6 {
    background-color: #000;
    color: #fafafa;
    height: 350px;
    opacity: 0;
    transition-duration: 1s;
}

.card-body1:hover, .card-body2:hover, .card-body3:hover, .card-body4:hover,
 .card-body5:hover, .card-body6:hover 
 {
    opacity: 1;
    background-color: #000;
}

/*----About section---*/
#about-us-header {
  font-family: 'Play', sans-serif;
  background-color: #000;  
}

.col-6 h1 {
    color: #fafafa;
    padding-top: 35px;
    padding-bottom: 35px;
}
/*---Fixed image---*/
#about-us {
    background-image: url("../images/about-us-fixed.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px;
}

.btns {
    padding-top: 15%;
    font-family: 'Play', sans-serif;
}

/*---How it works----*/
#how-it-works-header {
    padding-top: 10px;
    padding-left: 0px;
    margin-left: 0px;
    padding-bottom: 10px;
    font-family: 'Play', sans-serif;
}



/*-------Colours---*/
.card-body {
    background-color: #000;
    color: #fafafa;
}

#the-process {
    background-color: #000;
    color: #fafafa;
    font-family: 'Play', sans-serif;
}
.icon-title {
    color: #00e366
}
/*---Font Awsome styles---*/
.fas {
    font-size: 50px;
    padding-bottom: 25px;
}


/*-----Special Paddings/Margins/Texts---*/



