/*-----Universal selector used below as different browsers have different default
margins resulting in sites looking different by marrgins. All paddings and margins set 
to zero so they look the same on all browsers (reword)---*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Play&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Play', sans-serif;
    color: #000;
    margin: 0px;
}

body {
    overflow-x: hidden;
}

section {
    overflow-x: hidden;

}

p {
   margin-bottom: 0rem;
}

/*--Container-Nav and Carousel--*/

.container-fluid {
padding-right: 0px;
padding-left: 0px;
}

/*------Navbar Decoration------*/
.transparent-nav {
 transition: 0.5s ease-in;
 padding-top: 20px;
 padding-bottom: 20px;
 background-image: linear-gradient(rgb(0, 0, 0),rgba(0,0,0,0));
}

.bg-dark {
    background-color: transparent !important;
}

.navbar {
    font-size: large;
    font-weight: bold;
    z-index: 99;
}

.navbar-brand {
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 30px;
}

.title {
font-family: 'Orbitron', sans-serif;
color: #e3c139;
}

.navbar-nav {
   font-family: 'Play', sans-serif; 
   font-size: 22px;
   text-align: center;
   padding-right: 40px;
}
a.nav-link {
    font-family: 'Play', sans-serif;
}

div#navbarNav.navbar-collapse.justify-content-center.ml-5.collapse.show {
    background-color: #000;
    opacity: 0.8;
    padding-left: 40px;
    margin-left: 0rem !important;
}

div#navbarNav.navbar-collapse.justify-content-center.ml-5.standard-nav.collapse.show {
    background-color: #fafafa;
}

.nav-item {
    padding-left: 20px;
}

.nav-link {
    color: #fafafa !important;
}


.show .navbar-nav > li > a:hover {
    border-bottom: 2px solid #e3c139;
}

.current-page {
    border-bottom: 2px solid #e3c139 !important;
}

.transparent-nav a {
    border-bottom: 2px solid transparent;
}

.transparent-nav a:hover {
    border-bottom: 2px solid #e3c139;
}

.active a {
    border-bottom: 2px solid #e3c139;
}

/*---Language bar----*/
#lang-option {
    padding-left: 8px;
    font-size: 18px;
    font-weight: bold;
}

.lang-selector {
    display: inline-block;
}

p.lang-selector {
    padding-bottom: 0rem;
}

.show a {
    color: #fafafa;
}

.lang-options:hover {
    border-bottom: solid 2px transparent !important;
    color: #e3c139 !important; 
}

.fa-globe {
    font-size: 20px !important;
    padding-bottom: 0px !important;
    padding-right: 5px;
}
.lang-icons {
    padding: 8px;
    border-radius: 50%;
}

.dropdown-item {
    display: inline;
    padding: 0px;
    color: #fafafa;
}

.dropdown-item:hover {
    background-color: transparent;
    border-bottom: 2px solid transparent !important;
}

.dropdown-menu {
    text-align: center !important;
    background-image: linear-gradient(rgb(0, 0, 0),rgba(0,0,0,0));
    background-color: transparent;
    border-radius: 0px;
}

a#lang-option.dropdown-item:hover {
    text-decoration: none;
    background-color: transparent;
    border-bottom: 2px solid transparent !important;
    color: #e3c139 !important;
}

a#lang-option.dropdown-item.dropdown-normal:hover {
    text-decoration: none;
    background-color: transparent;
    border-bottom: 2px solid transparent !important;
    color: #e3c139 !important;
}


/*---Normal nav---*/
.navbar-dark .navbar-nav .nav-link {
    color: #2d2c2c;
    margin-right: 40px;
}
.non-transparent {
    background-color: #fafafa !important;
    padding-bottom: 20px;
    padding-top: 20px;
}

.title-standard {
   font-family: 'Orbitron', sans-serif;
   color: #000;
}
   
   
   
.standard-nav a {
    color: #2d2c2c !important;
}

a#lang-option.dropdown-item {
    color: #fafafa !important;
}

a#lang-option.dropdown-item.dropdown-normal {
    color: #fafafa !important;
}

.non-transparent a {
    border-bottom: 2px solid transparent;
}

.non-transparent a:hover {
 border-bottom: 2px solid #e3c139;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #000;
}

.non-transparent .navbar-toggler {
    background-color: #00000029;
}

.lang-icons {
    padding: 5px;
}

.nav-link.esp-nav {
    margin-right: 10px !important;
}

@media only screen and (max-width: 991px) {
.nav-link.esp-nav {
    margin-right: 40px !important;
}
a#lang-option.dropdown-item.dropdown-normal {
    color: #2d2c2c !important;
}
.dropdown-menu.dropdown-menu-normal.show {
    background-color: #fafafa !important;
    background-image: none;
    border: 1px solid #fafafa;
}
.dropdown-menu.show {
    padding-right: 42px;
}
}

/*---Carousel---*/
.carousel {
    margin-top: -100px;
}

.carousel-caption {
    margin-bottom: 20%;
}

.carousel-caption h5 {
    font-size: 65px;
    text-transform: uppercase;
    font-family: 'Play', sans-serif; 
}
.carousel-caption p {
    font-size: 30px;
    font-family: 'Play', sans-serif; 
}

.overlay::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
}

.active a {
    border-bottom: 2px solid transparent;
}

/*----Carousel arrows---*/
.carousel-control-prev {
    padding-top: 100px;
}

.carousel-control-next {
    padding-top: 100px;
}

/*---Media Queries---*/
@media only screen and (max-width: 1336px) {
    .carousel-caption {
    margin-bottom: 15%;
    }
    }

@media only screen and (max-width: 1200px) {
    .carousel-caption h5 {
    font-size: 50px;
    }
    
    .carousel-caption {
    margin-bottom: 3%;
}
   .nav-item {
    padding-left: 0px;
}
    .navbar-nav {
       padding-right: 0px;
   }
}

@media only screen and (max-width: 1024px) {
    .carousel-caption {
    margin-bottom: 15%;
}
    .carousel-caption h5 {
    font-size: 25px;
}
    .carousel-caption p {
    font-size: 20px;
}
}

@media only screen and (max-width: 768px) {
    .btn {
        display: none;
    }
     .carousel-control-next {
    padding-top: 170px;
}
    .carousel-control-prev {
    padding-top: 170px;
}
    .carousel-caption {
    margin-bottom: 15%;
    padding-bottom: 0px;
}
    .carousel-caption h5 {
    font-size: 19px;
}
    .carousel-caption p {
    font-size: 18px;
}
    .navbar-brand {
    padding-top: 0px;
}
}

@media only screen and (max-width: 751px) {
    .carousel-caption {
     margin-bottom: 8%;
}
}

@media only screen and (max-width: 530px) {
    .carousel-caption {
     margin-bottom: 3%;
}
}



@media only screen and (max-width: 481px) {
    .carousel-caption h5 {
    font-size: 10px;
}
    .carousel-caption p {
    font-size: 10px;
}
   .carousel-caption {
     margin-bottom: 5%;
}
}

@media only screen and (max-width: 430px) {
    .carousel-control-next {
    padding-top: 130px;
}
    .carousel-control-prev {
    padding-top: 130px;
}
    .carousel-indicators {
        display: none;
}
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.transparent-nav.fixed-top {
        padding-top: 8px;
    }
       .carousel-caption {
     margin-bottom: 0%;
}
     .title {
         font-size: 1.75rem;
     }
}


@media only screen and (max-width: 359px) {
    .carousel-caption {
     display: none;
 }
 .navbar-brand {
    padding-left: 0px;
}
}
/*---Button on carousel---*/
.btn-outline-light {
    border-width: revert;
    font-family: 'Play', sans-serif; 
}
.btn {
    font-size: 20px;
}

.btn-primary {
    background-color: #000!important;
    border-color: #000 !important;
    font-family: 'Play', sans-serif; 
}
.btn-primary:hover {
    background-color: #fafafa;
    color: #e3c139;
    border-color: #fafafa;
}

/*--Jumbotron--*/
.jumbotron {
    margin-bottom: 0rem;
   background-color: #2d2c2c !important;
}

.jumbotron div {
   background-color: #2d2c2c;
}

.jumbotron-title {
    font-family: 'Play', sans-serif;
    color: #e3c139;
}

.jumbotron-para {
    font-family: 'Play', sans-serif;
    color: #fafafa;
    font-size: 1.5rem;
}

.text-jumbotron {
    padding-top: 0px !important;
    padding-bottom: 0px !important
}


.container {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*Jumbotron media queries*/

@media only screen and (max-width: 768px) {
    .display-4 {
    font-size: 3rem;
}
.jumbotron-para {
    font-size: 1.25rem;
}
}

@media only screen and (max-width: 480px) {
   .jumbotron-title {
    font-size: 1.8rem !important;
}
.jumbotron-para {
    font-size: 1rem;
}
}

/*----Six Resorts---
@media only screen and (max-width: 400px) {
    .rs-icon {
    display: none;
 }
.col-6 {
    max-width: 60%;
}
}
*/
.text-center {
    text-align: center !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

#resorts {
background-color: #2d2c2c;
   color: #fafafa;
}

#resorts-header {
    color: #fafafa;
    font-family: 'Play', sans-serif;
    padding-top: 40px;
}

.resorts {
      border:none;
      height:3px;
      background-color:#fafafa;
      width: 25%;
      margin-left: 37.5%;
      margin-bottom: 30px;
      margin-top: 30px;
}

.card-columns {
    padding-left: 30px;
    padding-right: 30px;
    column-gap: 10px;
}

.card-body {
   font-family: 'Play', sans-serif;  
}

.card-text {
    font-size: 14px;
}

.card-title {
    margin-bottom: auto;
    color: #e3c139;
    font-weight: bolder;
}

h5.card-title {
    padding-bottom: 2px;
}

.card-columns .card {
    height: 350px;
}
/*----Resort 1----*/

.card {
    background-size: cover;
    background-position: center;
    border: 0px;
}

#card1 {
  background-image: url("../images/prueba.jpg");  
}

#card2 {
  background-image: url("../images/prueba2.jpg");  
}

#card3 {
  background-image: url("../images/prueba3.jpg");  
}

#card4 {
  background-image: url("../images/prueba4.jpg");  
}

#card5 {
  background-image: url("../images/prueba5.jpg");  
}

#card6 {
  background-image: url("../images/prueba6.jpg");  
}

.card:hover .card-image1 {
    opacity: 0;
}

.card:hover .card-image2 {
    opacity: 0;
}

.card:hover .card-image3 {
    opacity: 0;
}

.card:hover .card-image4 {
    opacity: 0;
}

.card:hover .card-image5 {
    opacity: 0;
}

.card:hover .card-image6 {
    opacity: 0;
}

.card {
    word-wrap: normal;
}

div.card-image1.overlay.container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

div.card-image2.overlay.container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

div.card-image3.overlay.container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

div.card-image4.overlay.container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

div.card-image5.overlay.container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

div.card-image6.overlay.container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

p.resort-title.text-center {
   right: 65px; 
}

p.resort-title2.text-center {
   right: 0px; 
}


.resort-title {
    position: absolute;
    text-transform: uppercase;
    font-size: 70px;
    color: #e3c139;
    text-shadow: 10px 0px 30px rgb(0, 0, 0,1);
    mix-blend-mode: overlay;
    top: 30%;
    font-weight: bolder;
}

.resort-title2 {
    position: absolute;
    text-transform: uppercase;
    font-size: 70px;
    color: #e3c139;
    text-shadow: 10px 0px 30px rgb(0, 0, 0,1);
    mix-blend-mode: overlay;
    top: 15%;
    font-weight: bolder;
}

.resort-title3 {
    position: absolute;
    text-transform: uppercase;
    font-size: 70px;
    color: #e3c139;
    text-shadow: 10px 0px 30px rgb(0, 0, 0,1);
    mix-blend-mode: overlay;
    top: 30%;
    font-weight: bolder;
}

.resort-title4 {
    position: absolute;
    text-transform: uppercase;
    font-size: 70px;
    color: #e3c139;
    text-shadow: 10px 0px 30px rgb(0, 0, 0,1);
    mix-blend-mode: overlay;
    top: 15%;
    font-weight: bolder;
}

.resort-title5 {
    position: absolute;
    text-transform: uppercase;
    font-size: 70px;
    color: #e3c139;
    text-shadow: 10px 0px 30px rgb(0, 0, 0,1);
    mix-blend-mode: overlay;
    top: 30%;
    font-weight: bolder;
    margin-left: 100px;
}

.resort-title6 {
    position: absolute;
    text-transform: uppercase;
    font-size: 70px;
    color: #e3c139;
    text-shadow: 10px 0px 30px rgb(0, 0, 0,1);
    mix-blend-mode: overlay;
    top: 30%;
    font-weight: bolder;
    left: 0px;
    margin-left: 40px;
}


.card-body1, .card-body2, .card-body3, .card-body4, .card-body5, .card-body6 {
    background-color: #000;
    color: #fafafa;
    height: 350px;
    opacity: 0;
    transition-duration: 1s;
}

.card-body1:hover, .card-body2:hover, .card-body3:hover, .card-body4:hover,
 .card-body5:hover, .card-body6:hover 
 {
    opacity: 1;
    background-color: #000;
}

/*---Resort Media queries----*/

@media only screen and (max-width: 1336px) {
    .resort-title {
    left: 50px;
    font-size: 35px;
    }
    .resort-title2 {
        font-size: 35px;
        margin-left: 50px;
        margin-right: 50px;
        top: 35%;
    }
    .resort-title3 {
        font-size: 35px;
        margin-left: 100px;
        margin-right: 100px;
        top: 20%;
    }
    .resort-title4 {
        font-size: 35px;
        margin-left: 80px;
        margin-right: 80px;
        top: 35%;
    }
    .resort-title5 {
        font-size: 35px;
        margin-right: 130px;
        margin-left: 130px;
    }
	 .resort-title6 {
         font-size: 35px;
         margin-left: 110px;
         margin-right: 110px;
     }
}

@media only screen and (max-width: 1200px) {
    .resort-title6 {
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media only screen and (max-width: 1024px) {
    .resort-title3 {
        top: 30%
    }
    .resort-title5 {
        margin-left: 110px;
        margin-right: 110px;
    }
}

@media only screen and (max-width: 982px) {
    .resort-title3 {
        margin-left: 80px;
        margin-right: 80px;
    }
    .resort-title4 {
        margin-left: 65px;
        margin-right: 65px;
    }
    .resort-title5 {
        margin-left: 90px;
        margin-right: 90px;
    }
    .resort-title6 {
        margin-left: 55px;
        margin-right: 55px;
    }
}

@media only screen and (max-width: 870px) {
    .resort-title3 {
        margin-left: 40px;
        margin-right: 40px;
    }
    .resort-title4 {
        margin-left: 40px;
        margin-right: 40px;
    }
    .resort-title5 {
        margin-left: 60px;
        margin-right: 60px;
        top: 40%;
    }
    .resort-title6 {
        margin-left: 40px;
        margin-right: 40px;
        top: 40%;
    }
    .resort-title {
        top: 40%;
    }
}

@media only screen and (max-width: 798px) {
    .resort-title6 {
        margin-left: 30px;
        margin-right: 30px;
    }
}

    @media only screen and (max-width: 769px) {
    .resort-title {
    left: 50px;
    font-size: 25px;
    }
    .resort-title2 {
        font-size: 25px;
        
    }
    .resort-title3 {
        font-size: 25px;
        margin-left: 30px;
        margin-right: 30px;
        top: 40%;
    }
    .resort-title4 {
        font-size: 25px;
    }
    .resort-title5 {
        font-size: 25px;
    }
	 .resort-title6 {
         font-size: 25px;
         margin-left: 40px;
         margin-right: 40px;
     }
    }

     @media only screen and (max-width: 639px) {
         .resort-title {
            left: 35px;
         }
         .resort-title4 {
            margin-left: 30px;
            margin-right: 30px;
         }
         .resort-title5 {
             margin-left: 40px;
             margin-right: 40px;
         }
         .resort-title6 {
           margin-left: 30px;
           margin-right: 30px;
         }
     }

     @media only screen and (max-width: 575px) {
    .resort-title {
      left: 50px;
      font-size: 60px;
      top: 30%;
    }
    .resort-title2 {
        font-size: 60px;
        margin-left: 50px;
        margin-right: 50px;
        top: 25%;
    }
    .resort-title3 {
        font-size: 60px;
        margin-left: 100px;
        margin-right: 100px;
        top: 20%;
    }
    .resort-title4 {
        font-size: 60px;
        margin-left: 80px;
        margin-right: 80px;
        top: 25%;
    }
    .resort-title5 {
        font-size: 60px;
        margin-right: 135px;
        margin-left: 135px;
        top: 30%;
    }
	 .resort-title6 {
         font-size: 60px;
         margin-left: 90px;
         margin-right: 90px;
         top: 30%;
     }
}

 @media only screen and (max-width: 481px) {
     .resort-title {
         font-size: 40px;
     }
     .resort-title2 {
         font-size: 40px;
         margin-left: 60px;
         margin-right: 60px;
     }
     .resort-title3 {
        font-size: 40px;
        margin-left: 80px;
        margin-right: 80px;
        top: 30%;
     }
     .resort-title4 {
         font-size: 40px;
     }
     .resort-title5 {
        font-size: 40px;
     }
     .resort-title6 {
       font-size: 40px;
       margin-left: 100px;
       margin-right: 100px;
    }
}

@media only screen and (max-width: 426px) {
    .resort-title5 {
        margin-left: 120px;
        margin-right: 120px;
     }
     .resort-title6 {
       margin-left: 80px;
       margin-right: 80px;
    }
} 

 @media only screen and (max-width: 388px) {
     .resort-title {
         font-size: 30px;
         top: 40%;
     }
     .resort-title2 {
         font-size: 30px;
     }
     .resort-title3 {
        font-size: 30px;
     }
     .resort-title4 {
         font-size: 30px;
     }
     .resort-title5 {
        font-size: 30px;
        margin-left: 110px;
        margin-right: 110px;
        top: 40%;
     }
     .resort-title6 {
       font-size: 30px;
       top: 40%;
    }
}

@media only screen and (max-width: 358px) {
        .resort-title4 {
        margin-right: 65px;
        margin-left: 65px;
        top: 30%;
     }
     .resort-title5 {
        margin-left: 80px;
        margin-right: 80px;
        top: 30%;
     }
     .resort-title6 {
       margin-left: 50px;
       margin-right: 50px;
       top: 30%;
    }
}

@media only screen and (max-width: 1200px) {
    .card-text {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1025px) {
    .card-text {
        font-size: 12px;
    }
}

@media only screen and (max-width: 924px) {
    .card-text {
        font-size: 11px;
    }
}

@media only screen and (max-width: 769px) {
    .card-text {
        font-size: 10px;
    }
}

@media only screen and (max-width: 720px) {
    .card-text {
        font-size: 9px;
    }
}

@media only screen and (max-width: 575px) {
    .card-text {
        font-size: 15px;
    }
}

@media only screen and (max-width: 481px) {
    .card-text {
        font-size: 12px;
    }
}

/*----About section---*/
#section-header {
  font-family: 'Play', sans-serif;
  background-color: #2d2c2c;
}

.text-center {
    text-align: center !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.col-6 h1 {
    color: #fafafa;
    padding-top: 35px;
    padding-bottom: 35px;
}
/*---Fixed image---*/
#about-us {
    background-image: url("../images/fixed-3.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px;
    background-position: center center;
    
}

.btns {
    padding-top: 15%;
    font-family: 'Play', sans-serif;
}
.in-block {
    display: block;
}

.col-md-6.border1 {
    border-right: 2px solid;
}

@media only screen and (max-width: 768px) {
    .in-block {
    display: block;
 }
   .col-md-6.border1 {
       border-right: 0px solid;
       border-bottom: 2px solid;
       border-bottom-width: thick;
   }
}

@media only screen and (max-width: 700px) {
    .in-block {
    display: block;
 }
}
.container.about-us-questions.text-center {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #000;
    opacity: 0.6;
    color: #fafafa;
    padding-top: 30px;
    padding-bottom: 30px;
}

.col-md-6 h5 {
    font-size: 30px;
    font-weight: bold;
}

.col-md-6 p {
    font-size: 17px;
    font-weight: bold;
}

@media only screen and (max-width: 480px){
    .col-md-6 h5 {
        font-size: 25px;
    }
    .col-md-6 p {
        font-size: 14px;
    }
    .display-4 {
        font-size: 2.2rem;
    }
}

/*---How it works----*/
#how-it-works-header {
    padding-top: 10px;
    padding-left: 0px;
    margin-left: 0px;
    padding-bottom: 10px;
    font-family: 'Play', sans-serif;
    max-width: 100%;
}

.process-header {
    text-align: center;
    font-size: 35px;
}

/*--Book your Holiday--*/
    #book-holiday {
    background-image: url("../images/cc3.jpg");
    background-size: cover;
    min-height: 500px;
    background-position: center center;
    filter: brightness(100%);
}

.book-holiday-title {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fafafa;
}
    
.col-md-12 {
    padding-top: 30px;
}

.col-md-8:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    z-index: -1;
}

.col-md-4:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    z-index: -1;
}

.col-md-4, .col-md-8 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact-details-title {
    padding-bottom: 15px;
}

.form-group {
   padding-top: 20px;
}
.display {
    display: block !important;
}
@media only screen and (max-width: 480px) {
    h3.text-center {
        font-size: 1.2rem;
    }
}

/*-------Colours---*/
.card-body {
    color: #fafafa;
}

#the-process {
background-color: #2d2c2c;
    font-family: 'Play', sans-serif;
}
.icon-title {
    color: #e3c139;
    font-weight: bold;
}

#process-icons {
    color: #fafafa;
}

.form-control {
    background-color: transparent;
}

.form-control::placeholder {
    color: #fafafa;
    opacity: 1;
}
.form-control {
    border: 4px solid #fafafa;
    color: #fafafa;
}

label {
    color: #e3c139;
}


h3 {
    color: #fafafa;
}

.input {
    z-index: 1;
}
/*---Contact details----*/
.contact-details p {
    border-bottom: 1px solid #fafafa;
    color: #fafafa;
}

.contact-details a {
    color: #fafafa;
}

.contact-details-icons {
    font-size: 25px !important;
    padding-right: 10px;
    color: #fafafa;
    padding-top: 10px;
}

/*---Font Awsome styles---*/
.fas {
    font-size: 50px;
    padding-bottom: 25px;
}


/*-----Special Paddings/Margins/Texts---*/

/*----footer-----*/

.footer-title {
   padding: 30px 30px 0 30px;
   font-family: 'Orbitron', sans-serif;
   color: #2d2c2c;
}

.footer {
    background-color: #fafafa;
    color: #2d2c2c;
}

.footer-icon {
    font-size: 40px;
    padding: 20px;
    color: #2d2c2c;
    padding-top: 40px;
}

.footer-icon:hover {
    color: #e3c139;
}

.col-md-3 a {
    text-decoration: none;
}

.pp-icon {
    font-size: 15px;
    padding-left: 15px;
    color: #2d2c2c;
    padding-bottom: 5px;
    padding-right: 25px;
}

.privacy-policy {
    font-size: 13px;
    
}

.pp-icon:hover {
   color: #e3c139;
}

.privacy-policy:hover {
    color: #e3c139;
    
}
.col-sm {
    text-align: center;
}


.copyright {
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #fafafa;
    color: #2d2c2c;
    margin-bottom: 0px;
    font-size: 10px;
}

.privacy-policy {
    text-align: right;
    margin-bottom: 0rem;
    margin-top: 10px;
    padding: 0px;
    color:#2d2c2c;
    padding-bottom: 5px !important;
    font-size: 13px;
    padding-right: 20px;
  }

@media only screen and (max-width: 1312px){
      .pp-icon{
       display: none;
   }
}


@media only screen and (max-width: 767px) {
   .privacy-policy {
      text-align: center;
      padding-right: 0px;
 }
}

@media only screen and (max-width: 480px) {
    .footer-icon {
        font-size: 30px;
    }
}

