/*-----Universal selector used below as different browsers have different default
margins resulting in sites looking different by marrgins. All paddings and margins set 
to zero so they look the same on all browsers (reword)---*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Play&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Play', sans-serif;
    color: #000;
    margin: 0px;
}

body {
    overflow-x: hidden;
}

section {
    overflow-x: hidden;
}
/*--Container-Nav and Carousel--*/

.container-fluid {
padding-right: 0px;
padding-left: 0px;
}

/*------Navbar Decoration------*/
.transparent-nav {
 transition: 0.5s ease-in;
 padding-top: 20px;
 padding-bottom: 20px;
 background-image: linear-gradient(rgb(0, 0, 0),rgba(0,0,0,0));
}

.bg-dark {
    background-color: transparent !important;
}


.navbar {
    font-size: large;
    font-weight: bold;
    z-index: 99;
}

.navbar-brand {
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 30px;
}

.title {
font-family: 'Orbitron', sans-serif;
color: #17d0b6;
}

.navbar-nav {
   font-family: 'Play', sans-serif; 
   font-size: 22px;
   text-align: center;
   padding-right: 40px;
}

div#navbarNav.navbar-collapse.justify-content-center.ml-5.collapse.show {
    background-color: #000;
    opacity: 0.8;
    padding-left: 40px;
    margin-left: 0rem !important;
}

div#navbarNav.navbar-collapse.justify-content-center.ml-5.standard-nav.collapse.show {
    background-color: #fafafa;
}

.nav-item {
    padding-left: 20px;
}

.nav-link {
    color: #fafafa !important;
}


.show .navbar-nav > li > a:hover {
    border-bottom: 2px solid #17d0b6;
}

.transparent-nav a {
    border-bottom: 2px solid transparent;
}

.transparent-nav a:hover {
    border-bottom: 2px solid #17d0b6;
}

.active a {
    border-bottom: 2px solid #17d0b6;
}

/*---Language bar----*/
#lang-option {
    padding-left: 8px;
    font-size: 18px;
    font-weight: bold;
}

.show a {
    color: #fafafa;
}

.lang-options:hover {
    border-bottom: solid 2px transparent !important;
    color: #17d0b6 !important; 
}

.fa-globe {
    font-size: 20px !important;
    padding-bottom: 0px !important;
    padding-right: 5px;
}
.lang-icons {
    padding: 8px;
    border-radius: 50%;
}

.dropdown-item {
    display: inline;
    padding: 0px;
    color: #fafafa;
}

.dropdown-item:hover {
    background-color: transparent;
    border-bottom: 2px solid transparent !important;
}

.dropdown-menu {
    text-align: center !important;
    background-image: linear-gradient(rgb(0, 0, 0),rgba(0,0,0,0));
    background-color: transparent;
    border-radius: 0px;
}

a#lang-option.dropdown-item:hover {
    text-decoration: none;
    background-color: transparent;
    border-bottom: 2px solid transparent !important;
    color: #17d0b6 !important;
}

/*---Normal nav---*/
.navbar-dark .navbar-nav .nav-link {
    color: #544c4c;
    margin-right: 40px;
}
.non-transparent {
    background-color: #fafafa !important;
    padding-bottom: 20px;
    padding-top: 20px;
}

.title-standard {
   font-family: 'Orbitron', sans-serif;
   color: #000;
}

.standard-nav a {
    color: #544c4c !important;
}

a#lang-option.dropdown-item {
    color: #fafafa !important;
}

.non-transparent a {
    border-bottom: 2px solid transparent;
}

.non-transparent a:hover {
 border-bottom: 2px solid #17d0b6;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #000;
}

.non-transparent .navbar-toggler {
    background-color: #00000029;
}

.lang-icons {
    padding: 5px;
}

/*---Carousel---*/
.carousel {
    margin-top: -100px;
}

.carousel-caption {
    margin-bottom: 20%;
}

.carousel-caption h5 {
    font-size: 65px;
    text-transform: uppercase;
    font-family: 'Play', sans-serif; 
}
.carousel-caption p {
    font-size: 30px;
    font-family: 'Play', sans-serif; 
}

.overlay::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.4;
}

/*----Carousel arrows---*/
.carousel-control-prev {
    padding-top: 100px;
}

.carousel-control-next {
    padding-top: 100px;
}

/*---Media Queries---*/
@media only screen and (max-width: 1050px) {
    .carousel-caption {
    margin-bottom: 10%;
}
}

@media only screen and (max-width: 920px) {
    .carousel-caption h5 {
    font-size: 40px;
}
    .carousel-caption p {
    font-size: 20px;
}
}

@media only screen and (max-width: 700px) {
    .btn {
        display: none;
    }
    .carousel-caption h5 {
        font-size: 30px;
    }
    .carousel-caption p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 595px) {
    .carousel-caption {
    margin-bottom: 5%;
}
}



@media only screen and (max-width: 538px) {
    .carousel-caption h5 {
    font-size: 20px;
}
    .carousel-caption p {
    font-size: 10px;
}
}

@media only screen and (max-width: 460px) {
    .navbar-brand {
   padding-top: 0px;
  }
}

@media only screen and (max-width: 447px) {
    .carousel-caption {
    margin-bottom: 2%;
}
   .carousel-caption h5 {
    font-size: 10px;
}
    .carousel-caption p {
    font-size: 5px;
}
}

@media only screen and (max-width: 430px) {
    .carousel-control-next {
    padding-top: 130px;
}
    .carousel-control-prev {
    padding-top: 130px;
}
}

@media only screen and (max-width: 391px) {
    .carousel-caption {
    margin-bottom: 0%;
 }
}

@media only screen and (max-width: 370px) {
    .carousel-caption {
     display: none;
 }
 .navbar-brand {
    padding-left: 0px;
}
}
/*---Button on carousel---*/
.btn-outline-light {
    border-width: revert;
    font-family: 'Play', sans-serif; 
}
.btn {
    font-size: 20px;
}

.btn-primary {
    background-color: #000!important;
    border-color: #000 !important;
    font-family: 'Play', sans-serif; 
}
.btn-primary:hover {
    background-color: #fafafa;
    color: #17d0b6;
    border-color: #fafafa;
}

/*--Jumbotron--*/
.jumbotron {
    margin-bottom: 0rem;
    background: #2E0191;
    background: -webkit-linear-gradient(right, #2E0191, #1F222F) !important;
    background: -moz-linear-gradient(right, #2E0191, #1F222F) !important;
    background: linear-gradient(to left, #2E0191, #1F222F) !important;
}

.jumbotron div {
    background: #2E0191;
    background: -webkit-linear-gradient(right, #2E0191, #1F222F) !important;
    background: -moz-linear-gradient(right, #2E0191, #1F222F) !important;
    background: linear-gradient(to left, #2E0191, #1F222F) !important;
}

.jumbotron-title {
    font-family: 'Play', sans-serif;
    color: #fafafa;
}

.jumbotron-para {
    font-family: 'Play', sans-serif;
    color: #fafafa;
}

.text-jumbotron {
    padding-top: 20px !important;
    padding-bottom: 20px !important
}


.container {
    padding-top: 30px;
    padding-bottom: 30px;
}
/*----Six Resorts---*/
@media only screen and (max-width: 400px) {
    .rs-icon {
    display: none;
 }
.col-6 {
    max-width: 60%;
}
}
.text-center {
    text-align: center !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

#resorts {
   background: #2E0191;
   background: -webkit-linear-gradient(right, #2E0191, #1F222F);
   background: -moz-linear-gradient(right, #2E0191, #1F222F);
   background: linear-gradient(to left, #2E0191, #1F222F);
   color: #fafafa;
}

#resorts-header {
    color: #fafafa;
    font-family: 'Play', sans-serif;
    padding-top: 40px;
}

.resorts {
      border:none;
      height:3px;
      background-color:#fafafa;
      width: 25%;
      margin-left: 37.5%;
      margin-bottom: 30px;
      margin-top: 30px;
}

.card-columns {
    padding-left: 30px;
    padding-right: 30px;
    column-gap: 10px;
}

.card-body {
   font-family: 'Play', sans-serif;  
}

.card-title {
    margin-bottom: auto;
    color: #17d0b6;
}

.card-columns .card {
    height: 350px;
}
/*----Resort 1----*/

.card {
    background-size: cover;
    background-position: center;
    border: 0px;
}

#card1 {
  background-image: url("../images/prueba.jpg");  
}

#card2 {
  background-image: url("../images/prueba2.jpg");  
}

#card3 {
  background-image: url("../images/prueba3.jpg");  
}

#card4 {
  background-image: url("../images/prueba4.jpg");  
}

#card5 {
  background-image: url("../images/prueba5.jpg");  
}

#card6 {
  background-image: url("../images/prueba6.jpg");  
}

.card:hover .card-image1 {
    opacity: 0;
}

.card:hover .card-image2 {
    opacity: 0;
}

.card:hover .card-image3 {
    opacity: 0;
}

.card:hover .card-image4 {
    opacity: 0;
}

.card:hover .card-image5 {
    opacity: 0;
}

.card:hover .card-image6 {
    opacity: 0;
}

.resort-title {
    position: absolute;
    text-transform: uppercase;
    font-size: 70px;
    color: #fafafa;
    text-shadow: 10px 0px 30px rgb(0, 0, 0,1);
    mix-blend-mode: overlay;
    top: 30%;
    left: 15%;
    font-weight: bolder;
}

.card-body1, .card-body2, .card-body3, .card-body4, .card-body5, .card-body6 {
    background-color: #000;
    color: #fafafa;
    height: 350px;
    opacity: 0;
    transition-duration: 1s;
}

.card-body1:hover, .card-body2:hover, .card-body3:hover, .card-body4:hover,
 .card-body5:hover, .card-body6:hover 
 {
    opacity: 1;
    background-color: #000;
}

/*---Resort Media queries----*/

@media only screen and (max-width: 1200px) {
    .resort-title {
    left: 15%;
	font-size: 55px;
}
}

@media only screen and (max-width: 1024px) {
    .resort-title {
    left: 15%;
    font-size: 48px;
}
}

@media only screen and (max-width: 888px) {
    .resort-title {
    left: 13%;
    font-size: 44px;
}
}

@media only screen and (max-width: 769px) {
    .resort-title {
    left: 13%;
    font-size: 38px;
}
}

@media only screen and (max-width: 691px) {
    .resort-title {
    left: 15%;
    font-size: 30px;
}
}

@media only screen and (max-width: 575px) {
    .resort-title {
    left: 16%;
    font-size: 75px;
}
}

@media only screen and (max-width: 481px) {
    .resort-title {
    left: 16%;
    font-size: 60px;
}
}

@media only screen and (max-width: 423px) {
    .resort-title {
    left: 19%;
    font-size: 45px;
}
}

@media only screen and (max-width: 345px) {
    .resort-title {
    left: 16%;
    font-size: 45px;
}
}

@media only screen and (max-width: 320px) {
    .resort-title {
    left: 12%;
    font-size: 45px;
}
}

/*----About section---*/
#section-header {
  font-family: 'Play', sans-serif;
  background: #2E0191;
  background: -webkit-linear-gradient(right, #2E0191, #1F222F);
  background: -moz-linear-gradient(right, #2E0191, #1F222F);
  background: linear-gradient(to left, #2E0191, #1F222F);
}

.text-center {
    text-align: center !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.col-6 h1 {
    color: #fafafa;
    padding-top: 35px;
    padding-bottom: 35px;
}
/*---Fixed image---*/
#about-us {
    background-image: url("../images/fixed-3.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px;
    background-position: center center;
}

.btns {
    padding-top: 15%;
    font-family: 'Play', sans-serif;
}
.in-block {
    display: block;
}


@media only screen and (max-width: 768px) {
    .in-block {
    display: block;
 }
}

@media only screen and (max-width: 700px) {
    .in-block {
    display: block;
 }
}



/*---How it works----*/
#how-it-works-header {
    padding-top: 10px;
    padding-left: 0px;
    margin-left: 0px;
    padding-bottom: 10px;
    font-family: 'Play', sans-serif;
    max-width: 100%;
}

.process-header {
    text-align: center;
    font-size: 40px;
}

/*--Book your Holiday--*/
    #book-holiday {
    background-image: url("../images/cc3.jpg");
    background-size: cover;
    min-height: 500px;
    background-position: center center;
    filter: brightness(100%);
}

.book-holiday-title {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fafafa;
}
    
.col-md-12 {
    padding-top: 30px;
}

.col-md-8:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    z-index: -1;
}

.col-md-4:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    z-index: -1;
}

.col-md-4, .col-md-8 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact-details-title {
    padding-bottom: 15px;
}

.form-group {
   padding-top: 20px;
}

/*-------Colours---*/
.card-body {
    background-image: linear-gradient(to left, #414242, #4d5050, #5a5e5e, #676d6d, #747c7c);
    color: #fafafa;
}

#the-process {
    background: #2E0191;
    background: -webkit-linear-gradient(right, #2E0191, #1F222F);
    background: -moz-linear-gradient(right, #2E0191, #1F222F);
    background: linear-gradient(to left, #2E0191, #1F222F);
    color: #fafafa;
    font-family: 'Play', sans-serif;
}
.icon-title {
    color: #17d0b6;
    font-weight: bold;
}

.form-control {
    background-color: transparent;
}

.form-control::placeholder {
    color: #fafafa;
    opacity: 1;
}
.form-control {
    border: 4px solid #fafafa;
    color: #fafafa;
}

label {
    color: #17d0b6;
}


h3 {
    color: #fafafa;
}

.input {
    z-index: 1;
}
/*---Contact details----*/
.contact-details p {
    border-bottom: 1px solid #fafafa;
    color: #fafafa;
}

.contact-details-icons {
    font-size: 25px !important;
    padding-right: 10px;
    color: #17d0b6
}

/*---Font Awsome styles---*/
.fas {
    font-size: 50px;
    padding-bottom: 25px;
}


/*-----Special Paddings/Margins/Texts---*/

/*----footer-----*/

.footer-title {
   padding: 30px 30px 0 30px;
   font-family: 'Orbitron', sans-serif;
   color: #000;
}

.footer {
    background-color: #fafafa;
    color: #544c4c;
}

.copyright {
    padding-top: 30px;
}

.footer-icon {
    font-size: 40px;
    padding: 20px;
    color: #544c4c;
    padding-top: 40px;
}

.footer-title:hover, .footer-icon:hover {
    color: #17d0b6;
}

.col-md-3 a {
    text-decoration: none;
}

.pp-icon {
    font-size: 20px;
    padding-left: 5px;
    color: #17d0b6;
}

.privacy-policy {
    font-size: 12px;
}

.pp-icon:hover {
   color: #fafafa;
}
